<div class="page-header">
  <h1><i class="fa fa-smile-o"></i> Tamachi Vue</h1>
  <div style="text-align: right">
    <%= image_tag "etc/rails-logo.png", width: 260 %>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <ul style="margin: 0">
      <li><%= link_to "ユーザーリスト", :users %></li>
    </ul>
  </div>
</div>
