<div class="page-header">
  <h1>ユーザー登録情報の編集</h1>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <div id="user-form"></div>
  </div>
</div>

<%= javascript_pack_tag "users/form" %>
