<div class="page-header">
  <h1>ユーザー登録情報の編集</h1>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <div id="user-form" v-cloak>
      <%= form_with model: @user, local: true do |f| %>
        <%= render "fields", f: f %>
        <%= f.submit "更新", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>

<%= javascript_pack_tag "users/form" %>
