<div class="page-header">
  <h1>ユーザーリスト</h1>
</div>

<div style="text-align: right; margin-bottom: 1rem">
  <%= link_to "新規ユーザー登録", :new_user, class: "btn btn-default" %>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <table class="table" style="margin: 0">
      <thead>
        <tr>
          <th>名前</th>
          <th>得意なプログラミング言語</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
        <tr>
          <td><%= user.name %></td>
          <td><%= user.language_for_display %></td>
          <td>
            <%= link_to "編集", [ :edit, user ], class: "btn btn-default btn-sm" %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
